# Dependency directories
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Yarn Integrity file
.yarn-integrity

# Rollup generate output
lib

# Coverage directory used by tools like istanbul
coverage

# Editor directories and files
.idea
.vscode
playground/app/*

.DS_Store
